<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>colors</key>
	<dict>
		<key>alternateSelectedControlColor</key>
		<dict>
			<key>day</key>
			<string>#3D7058</string>
			<key>night</key>
			<string>#2E6A4C</string>
		</dict>
		<key>alternateSelectedControlTextColor</key>
		<dict>
			<key>day</key>
			<string>#FAF9F5</string>
			<key>night</key>
			<string>#EAEDE6</string>
		</dict>
		<key>alternatingContentBackgroundColor</key>
		<dict>
			<key>day</key>
			<string>#F3F2ED</string>
			<key>night</key>
			<string>#222826</string>
		</dict>
		<key>controlAccentColor</key>
		<dict>
			<key>day</key>
			<string>#3D7058</string>
			<key>night</key>
			<string>#8DD5A0</string>
		</dict>
		<key>controlAlternatingRowColor</key>
		<dict>
			<key>day</key>
			<string>#F3F2ED</string>
			<key>night</key>
			<string>#222826</string>
		</dict>
		<key>controlBackgroundColor</key>
		<dict>
			<key>day</key>
			<string>#FAF9F5</string>
			<key>night</key>
			<string>#1D2321</string>
		</dict>
		<key>controlColor</key>
		<dict>
			<key>day</key>
			<string>#FAF9F5</string>
			<key>night</key>
			<string>#2E3632</string>
		</dict>
		<key>controlDarkShadowColor</key>
		<dict>
			<key>day</key>
			<string>#242925</string>
			<key>night</key>
			<string>#0B0E0D</string>
		</dict>
		<key>controlHighlightColor</key>
		<dict>
			<key>day</key>
			<string>#FFFFFFB3</string>
			<key>night</key>
			<string>#EAEDE633</string>
		</dict>
		<key>controlLightHighlightColor</key>
		<dict>
			<key>day</key>
			<string>#FFFFFFB3</string>
			<key>night</key>
			<string>#EAEDE633</string>
		</dict>
		<key>controlShadowColor</key>
		<dict>
			<key>day</key>
			<string>#24292544</string>
			<key>night</key>
			<string>#00000066</string>
		</dict>
		<key>controlTextColor</key>
		<dict>
			<key>day</key>
			<string>#242925</string>
			<key>night</key>
			<string>#EAEDE6</string>
		</dict>
		<key>disabledControlTextColor</key>
		<dict>
			<key>day</key>
			<string>#24292559</string>
			<key>night</key>
			<string>#EAEDE659</string>
		</dict>
		<key>findHighlightColor</key>
		<dict>
			<key>day</key>
			<string>#E8D27A</string>
			<key>night</key>
			<string>#B89B3A</string>
		</dict>
		<key>gridColor</key>
		<dict>
			<key>day</key>
			<string>#E2E1DA</string>
			<key>night</key>
			<string>#343B38</string>
		</dict>
		<key>headerColor</key>
		<dict>
			<key>day</key>
			<string>#C9C8C0</string>
			<key>night</key>
			<string>#3A423E</string>
		</dict>
		<key>headerTextColor</key>
		<dict>
			<key>day</key>
			<string>#242925</string>
			<key>night</key>
			<string>#EAEDE6</string>
		</dict>
		<key>highlightColor</key>
		<dict>
			<key>day</key>
			<string>#FFFFFFB3</string>
			<key>night</key>
			<string>#EAEDE633</string>
		</dict>
		<key>keyboardFocusIndicatorColor</key>
		<dict>
			<key>day</key>
			<string>#3D705880</string>
			<key>night</key>
			<string>#8DD5A080</string>
		</dict>
		<key>knobColor</key>
		<dict>
			<key>day</key>
			<string>#9AA09B</string>
			<key>night</key>
			<string>#6E7872</string>
		</dict>
		<key>labelColor</key>
		<dict>
			<key>day</key>
			<string>#242925</string>
			<key>night</key>
			<string>#EAEDE6</string>
		</dict>
		<key>linkColor</key>
		<dict>
			<key>day</key>
			<string>#3D7058</string>
			<key>night</key>
			<string>#8DD5A0</string>
		</dict>
		<key>placeholderTextColor</key>
		<dict>
			<key>day</key>
			<string>#8A918C</string>
			<key>night</key>
			<string>#77817B</string>
		</dict>
		<key>quaternaryLabelColor</key>
		<dict>
			<key>day</key>
			<string>#24292533</string>
			<key>night</key>
			<string>#EAEDE633</string>
		</dict>
		<key>quaternarySystemFillColor</key>
		<dict>
			<key>day</key>
			<string>#24292507</string>
			<key>night</key>
			<string>#EAEDE60C</string>
		</dict>
		<key>quinaryLabelColor</key>
		<dict>
			<key>day</key>
			<string>#24292514</string>
			<key>night</key>
			<string>#EAEDE614</string>
		</dict>
		<key>quinarySystemFillColor</key>
		<dict>
			<key>day</key>
			<string>#24292502</string>
			<key>night</key>
			<string>#EAEDE607</string>
		</dict>
		<key>scrollBarColor</key>
		<dict>
			<key>day</key>
			<string>#E2E1DA</string>
			<key>night</key>
			<string>#2E3632</string>
		</dict>
		<key>secondaryLabelColor</key>
		<dict>
			<key>day</key>
			<string>#646C66</string>
			<key>night</key>
			<string>#9EA9A2</string>
		</dict>
		<key>secondarySelectedControlColor</key>
		<dict>
			<key>day</key>
			<string>#E2E1DA</string>
			<key>night</key>
			<string>#343B38</string>
		</dict>
		<key>secondarySystemFillColor</key>
		<dict>
			<key>day</key>
			<string>#24292514</string>
			<key>night</key>
			<string>#EAEDE61C</string>
		</dict>
		<key>selectedContentBackgroundColor</key>
		<dict>
			<key>day</key>
			<string>#3D7058</string>
			<key>night</key>
			<string>#2E6A4C</string>
		</dict>
		<key>selectedControlColor</key>
		<dict>
			<key>day</key>
			<string>#D8E8DB</string>
			<key>night</key>
			<string>#344C3D</string>
		</dict>
		<key>selectedControlTextColor</key>
		<dict>
			<key>day</key>
			<string>#242925</string>
			<key>night</key>
			<string>#EAEDE6</string>
		</dict>
		<key>selectedKnobColor</key>
		<dict>
			<key>day</key>
			<string>#646C66</string>
			<key>night</key>
			<string>#9EA9A2</string>
		</dict>
		<key>selectedMenuItemColor</key>
		<dict>
			<key>day</key>
			<string>#3D7058</string>
			<key>night</key>
			<string>#2E6A4C</string>
		</dict>
		<key>selectedMenuItemTextColor</key>
		<dict>
			<key>day</key>
			<string>#FAF9F5</string>
			<key>night</key>
			<string>#EAEDE6</string>
		</dict>
		<key>selectedTextBackgroundColor</key>
		<dict>
			<key>day</key>
			<string>#D8E8DB</string>
			<key>night</key>
			<string>#344C3D</string>
		</dict>
		<key>selectedTextColor</key>
		<dict>
			<key>day</key>
			<string>#242925</string>
			<key>night</key>
			<string>#EAEDE6</string>
		</dict>
		<key>separatorColor</key>
		<dict>
			<key>day</key>
			<string>#2429251F</string>
			<key>night</key>
			<string>#EAEDE61F</string>
		</dict>
		<key>shadowColor</key>
		<dict>
			<key>day</key>
			<string>#242925</string>
			<key>night</key>
			<string>#0B0E0D</string>
		</dict>
		<key>systemBlueColor</key>
		<dict>
			<key>day</key>
			<string>#3F6F9E</string>
			<key>night</key>
			<string>#86B3E0</string>
		</dict>
		<key>systemBrownColor</key>
		<dict>
			<key>day</key>
			<string>#8C6A4F</string>
			<key>night</key>
			<string>#C29E80</string>
		</dict>
		<key>systemCyanColor</key>
		<dict>
			<key>day</key>
			<string>#3F8FAE</string>
			<key>night</key>
			<string>#83C8E2</string>
		</dict>
		<key>systemFillColor</key>
		<dict>
			<key>day</key>
			<string>#24292519</string>
			<key>night</key>
			<string>#EAEDE624</string>
		</dict>
		<key>systemGrayColor</key>
		<dict>
			<key>day</key>
			<string>#8A918C</string>
			<key>night</key>
			<string>#7E8883</string>
		</dict>
		<key>systemGreenColor</key>
		<dict>
			<key>day</key>
			<string>#4E8A5E</string>
			<key>night</key>
			<string>#8DD5A0</string>
		</dict>
		<key>systemIndigoColor</key>
		<dict>
			<key>day</key>
			<string>#4E5AA0</string>
			<key>night</key>
			<string>#9AA3E0</string>
		</dict>
		<key>systemMintColor</key>
		<dict>
			<key>day</key>
			<string>#4E9E86</string>
			<key>night</key>
			<string>#8ED8C0</string>
		</dict>
		<key>systemOrangeColor</key>
		<dict>
			<key>day</key>
			<string>#C27A33</string>
			<key>night</key>
			<string>#E8A766</string>
		</dict>
		<key>systemPinkColor</key>
		<dict>
			<key>day</key>
			<string>#B8577A</string>
			<key>night</key>
			<string>#E38FAE</string>
		</dict>
		<key>systemPurpleColor</key>
		<dict>
			<key>day</key>
			<string>#7B5C9E</string>
			<key>night</key>
			<string>#B79BD8</string>
		</dict>
		<key>systemRedColor</key>
		<dict>
			<key>day</key>
			<string>#B8483E</string>
			<key>night</key>
			<string>#E57A6E</string>
		</dict>
		<key>systemTealColor</key>
		<dict>
			<key>day</key>
			<string>#3C8C8A</string>
			<key>night</key>
			<string>#7CC9C6</string>
		</dict>
		<key>systemYellowColor</key>
		<dict>
			<key>day</key>
			<string>#C9A227</string>
			<key>night</key>
			<string>#E8CC6A</string>
		</dict>
		<key>tertiaryLabelColor</key>
		<dict>
			<key>day</key>
			<string>#2429257A</string>
			<key>night</key>
			<string>#EAEDE670</string>
		</dict>
		<key>tertiarySystemFillColor</key>
		<dict>
			<key>day</key>
			<string>#2429250C</string>
			<key>night</key>
			<string>#EAEDE614</string>
		</dict>
		<key>textBackgroundColor</key>
		<dict>
			<key>day</key>
			<string>#FAF9F5</string>
			<key>night</key>
			<string>#1D2321</string>
		</dict>
		<key>textColor</key>
		<dict>
			<key>day</key>
			<string>#242925</string>
			<key>night</key>
			<string>#EAEDE6</string>
		</dict>
		<key>textInsertionPointColor</key>
		<dict>
			<key>day</key>
			<string>#3D7058</string>
			<key>night</key>
			<string>#8DD5A0</string>
		</dict>
		<key>underPageBackgroundColor</key>
		<dict>
			<key>day</key>
			<string>#D9D7CF</string>
			<key>night</key>
			<string>#121615</string>
		</dict>
		<key>unemphasizedSelectedContentBackgroundColor</key>
		<dict>
			<key>day</key>
			<string>#E2E1DA</string>
			<key>night</key>
			<string>#343B38</string>
		</dict>
		<key>unemphasizedSelectedTextBackgroundColor</key>
		<dict>
			<key>day</key>
			<string>#E2E1DA</string>
			<key>night</key>
			<string>#343B38</string>
		</dict>
		<key>unemphasizedSelectedTextColor</key>
		<dict>
			<key>day</key>
			<string>#242925</string>
			<key>night</key>
			<string>#EAEDE6</string>
		</dict>
		<key>windowBackgroundColor</key>
		<dict>
			<key>day</key>
			<string>#F0EFE9</string>
			<key>night</key>
			<string>#252C29</string>
		</dict>
		<key>windowFrameColor</key>
		<dict>
			<key>day</key>
			<string>#C9C8C0</string>
			<key>night</key>
			<string>#3A423E</string>
		</dict>
		<key>windowFrameTextColor</key>
		<dict>
			<key>day</key>
			<string>#242925</string>
			<key>night</key>
			<string>#EAEDE6</string>
		</dict>
	</dict>
	<key>description</key>
	<string>Finch's design language: precision instruments, printed materials, the physical desktop (docs/design/FIELDWORK.md).</string>
	<key>fonts</key>
	<dict>
		<key>interface</key>
		<string>Inter</string>
		<key>technical</key>
		<string>Fragment Mono</string>
	</dict>
	<key>metrics</key>
	<dict>
		<key>controlCornerRadius</key>
		<integer>3</integer>
		<key>instrumentBarHeight</key>
		<integer>26</integer>
		<key>keyWindowMarkWidth</key>
		<integer>2</integer>
		<key>railWidth</key>
		<integer>48</integer>
		<key>windowBottomCornerRadius</key>
		<integer>2</integer>
		<key>windowOutlineWidth</key>
		<integer>1</integer>
		<key>windowTopCornerRadius</key>
		<integer>6</integer>
	</dict>
	<key>motion</key>
	<dict>
		<key>menuFade</key>
		<real>0.06</real>
		<key>windowOpen</key>
		<real>0.12</real>
		<key>workbenchSwitch</key>
		<real>0.18</real>
	</dict>
	<key>name</key>
	<string>Fieldwork</string>
	<key>palette</key>
	<dict>
		<key>accent</key>
		<dict>
			<key>day</key>
			<string>#3D7058</string>
			<key>night</key>
			<string>#8DD5A0</string>
		</dict>
		<key>canvas</key>
		<dict>
			<key>day</key>
			<string>#F0EFE9</string>
			<key>night</key>
			<string>#181D1C</string>
		</dict>
		<key>edgeHighlight</key>
		<dict>
			<key>day</key>
			<string>#FFFFFFCC</string>
			<key>night</key>
			<string>#EAEDE61A</string>
		</dict>
		<key>graphite</key>
		<dict>
			<key>day</key>
			<string>#646C66</string>
			<key>night</key>
			<string>#9EA9A2</string>
		</dict>
		<key>ink</key>
		<dict>
			<key>day</key>
			<string>#242925</string>
			<key>night</key>
			<string>#EAEDE6</string>
		</dict>
		<key>knob</key>
		<dict>
			<key>day</key>
			<string>#FAF9F5</string>
			<key>night</key>
			<string>#3A423E</string>
		</dict>
		<key>onAccent</key>
		<dict>
			<key>day</key>
			<string>#FAF9F5</string>
			<key>night</key>
			<string>#181D1C</string>
		</dict>
		<key>outline</key>
		<dict>
			<key>day</key>
			<string>#24292538</string>
			<key>night</key>
			<string>#00000080</string>
		</dict>
		<key>selection</key>
		<dict>
			<key>day</key>
			<string>#D8E8DB</string>
			<key>night</key>
			<string>#344C3D</string>
		</dict>
		<key>slate</key>
		<dict>
			<key>day</key>
			<string>#FAF9F5</string>
			<key>night</key>
			<string>#252C29</string>
		</dict>
	</dict>
</dict>
</plist>
