# SPDX-License-Identifier: MIT OR Apache-2.0
# Finch's userland C style (as in finch-init, libxpc and libsystem/*): tabs,
# return type and name on one line with the function's brace on the next,
# one statement per line, 4-space continuation indent. Imported upstream code
# (userland/oss recipes build Apple's sources elsewhere) keeps its own style.
BasedOnStyle: LLVM
UseTab: ForIndentation
IndentWidth: 8
TabWidth: 8
ContinuationIndentWidth: 4
ColumnLimit: 100
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
AlignAfterOpenBracket: DontAlign
AlignOperands: DontAlign
AlignTrailingComments: false
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
IndentCaseLabels: false
PointerAlignment: Right
SortIncludes: Never
ReflowComments: false
MaxEmptyLinesToKeep: 1
BreakStringLiterals: false
